body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/twdCoverPhoto.jpg);

}

.titleDiv {
    height: 500px;

    margin-top: 7%;
    width: auto;
    

 
}

.titleHeader {
  
    margin-top: 27%;
    
    text-align: center;
}

.startButton {
    margin-top: 5%;
    background-color: lightgray;
    color: black;
    border-color: lightgray;
}
.startButton:hover {
    background-color: darkgray;
    color: white;
    border-color: darkgray;
}

.answerButtons {
    margin-top: 6%;
    background-color: lightgray;
    color: black;
    border-color: lightgray;
    height: 30px;
}
.answerButtons:hover {
    background-color: darkgray;
    color: white;
    border-color: darkgray;
}

li{
    margin-top: 35%;
}