body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/twdCoverPhoto.jpg);

}

.titleDiv {
    height: 500px;

    margin-top: 7%;
    width: auto;
    

 
}

.titleHeader {
  
    margin-top: 27%;
    
    text-align: center;
}

.startButton {
    margin-top: 5%;
    background-color: lightgray;
    color: black;
    border-color: lightgray;
}
.startButton:hover {
    background-color: darkgray;
    color: white;
    border-color: darkgray;
}

.countDownStyle {
    text-align: center;
    font-size: 35px;
    margin-top: 30%;
}
.questionStyle {
    font-size: 40px;
    text-align: center;

}


.answerButtons {
    margin-top: 4%;
    background-color: lightgray;
    color: black;
    border-color: lightgray;
    height: 30px;
    text-align: center;
    line-height: 2%;
}
.answerButtons:hover {
    background-color: darkgray;
    color: white;
    border-color: darkgray;
}

li{
    margin-top: 3%;
}

.stats {
    font-size: 25px;
    color: white;
    margin-top: 25%;
    

}

.answerPage {
    text-align: center;
    margin-top: 20%;
    color: white;
}